In [17]:
# importamos las librerías necesarias 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6 # el primer dígito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

# Cargamos el dataset
import pandas as pd
import chardet

file_path = 'C:\\Users\\rodri\\OneDrive\\Documentos\\GitHub\\Ejemplo_mochila_pokemon\\pokemon.csv'

with open(file_path, "rb") as f:
    result = chardet.detect(f.read())

# Leer el archivo CSV utilizando la codificación detectada
df_pokemon = pd.read_csv(file_path, encoding=result["encoding"], on_bad_lines="skip")

# Mostrar las primeras filas del DataFrame
df_pokemon.head()
#RR

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [18]:
df_pokemon.dropna().reset_index(drop=True)
df_pokemon

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

In [19]:
# Conteo de valores perdidos/faltantes  
df_pokemon.isna().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [20]:
#SOLO LAS COLUMNAS QUE INTERESAN
df_pokemon_filt= df_pokemon[['name','base_total','capture_rate']]
df_pokemon_filt

           name  base_total capture_rate
0     Bulbasaur         318           45
1       Ivysaur         405           45
2      Venusaur         625           45
3    Charmander         309           45
4    Charmeleon         405           45
..          ...         ...          ...
796  Celesteela         570           25
797     Kartana         570          255
798    Guzzlord         570           15
799    Necrozma         600            3
800    Magearna         600            3

[801 rows x 3 columns]

In [21]:
df_pokemon_filt.head()

         name  base_total capture_rate
0   Bulbasaur         318           45
1     Ivysaur         405           45
2    Venusaur         625           45
3  Charmander         309           45
4  Charmeleon         405           45

In [22]:
df_pokemon_filt.describe()

       base_total
count  801.000000
mean   428.377029
std    119.203577
min    180.000000
25%    320.000000
50%    435.000000
75%    505.000000
max    780.000000

In [23]:
# Convierte la columna 'capture_rate' a un tipo numérico
df_pokemon_filt['capture_rate'] = pd.to_numeric(df_pokemon_filt['capture_rate'], errors='coerce')

# Normaliza la columna 'capture_rate'
minimo = df_pokemon_filt['capture_rate'].min()
maximo = df_pokemon_filt['capture_rate'].max()

df_pokemon_filt['capture_rate_normalizada'] = (df_pokemon_filt['capture_rate'] - minimo) / (maximo - minimo)
df_pokemon_filt['capture_rate_normalizada'] = df_pokemon_filt['capture_rate_normalizada'] * (10 - 0) + 0

df_pokemon_filt.head()

C:\Users\rodri\AppData\Local\Temp\ipykernel_25036\2236992799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pokemon_filt['capture_rate'] = pd.to_numeric(df_pokemon_filt['capture_rate'], errors='coerce')
C:\Users\rodri\AppData\Local\Temp\ipykernel_25036\2236992799.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pokemon_filt['capture_rate_normalizada'] = (df_pokemon_filt['capture_rate'] - minimo) / (maximo - minimo)
C:\Users\rodri\AppData\Local\Temp\ipykernel_25036\2236992799.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pokemon_filt['capture_rate_normalizada'] = df_pokemon_filt['capture_rate_normalizada'] * (10 - 0) + 0

         name  base_total  capture_rate  capture_rate_normalizada
0   Bulbasaur         318          45.0                  1.666667
1     Ivysaur         405          45.0                  1.666667
2    Venusaur         625          45.0                  1.666667
3  Charmander         309          45.0                  1.666667
4  Charmeleon         405          45.0                  1.666667

In [24]:
#ORDENAMOS DEL MEJOR AL PEOR
df_pokemon_filt = df_pokemon_filt.sort_values(by=['base_total', 'capture_rate_normalizada'], ascending=[False, True])
df_pokemon_filt.head()

         name  base_total  capture_rate  capture_rate_normalizada
149    Mewtwo         780           3.0                  0.000000
383  Rayquaza         780          45.0                  1.666667
381    Kyogre         770           3.0                  0.000000
382   Groudon         770           3.0                  0.000000
492    Arceus         720           3.0                  0.000000

In [25]:
def mochila(pokemon, capacidad):
    solucion = []
    valor_solucion = 0
    facilidad_solucion = 0

    # Ordena el DataFrame de Pokemon según la tasa de captura normalizada (ascendente) y el valor base total (descendente)
    pokemon = pokemon.sort_values(['capture_rate_normalizada', 'base_total'], ascending=[True, False])

    for index, mejor_pokemon in pokemon.iterrows():
        if len(solucion) == capacidad:
            break

        solucion.append(mejor_pokemon['name'])
        valor_solucion += mejor_pokemon['base_total']
        facilidad_solucion += mejor_pokemon['capture_rate_normalizada']

    return (solucion, valor_solucion, facilidad_solucion)

capacidad_mochila = 6
solucion, valor_total, facilidad_total = mochila(df_pokemon_filt, capacidad_mochila)

print("Solución:")
for p in solucion:
    print(p)
print("base_total:", valor_total)

Solución:
Mewtwo
Kyogre
Groudon
Arceus
Zygarde
Metagross
base_total: 4448

In [26]:
import random

def mochila(pokemon, cantidad_pokemon, capture_rate_objetivo, epsilon=0.1):
    solucion = []
    valor_solucion = 0
    facilidad_solucion = 0
    capture_rate_actual = 0

    for _ in range(1000):  # Limita el número de intentos a 1000 para evitar bucles infinitos
        pokemon_seleccionado = pokemon.sample(weights=pokemon['capture_rate'], n=1).iloc[0]
        nuevo_capture_rate = capture_rate_actual + pokemon_seleccionado['capture_rate']

        if len(solucion) < cantidad_pokemon - 1 or abs(nuevo_capture_rate - capture_rate_objetivo) < epsilon:
            solucion.append(pokemon_seleccionado['name'])
            valor_solucion += pokemon_seleccionado['base_total']
            facilidad_solucion += pokemon_seleccionado['capture_rate']
            capture_rate_actual = nuevo_capture_rate

        if len(solucion) == cantidad_pokemon:
            break

    return (solucion, valor_solucion, facilidad_solucion)

cantidad_pokemon = 6
capture_rate_objetivo = 10
solucion, valor_total, facilidad_total = mochila(df_pokemon_filt, cantidad_pokemon, capture_rate_objetivo)

print("Solución:")
for p in solucion:
    print(p)
print("base_total:", valor_total)
print("capture_rate:", facilidad_total)

Solución:
Noibat
Chesnaught
Ferroseed
Magikarp
Magby
base_total: 1645
capture_rate: 790.0

In [29]:
# Asegúrate de que el índice de df_pokemon_filt esté restablecido
df_pokemon_filt = df_pokemon_filt.reset_index(drop=True)

def buscar_soluciones(pokemon, capacidad, suma_objetivo, solucion_actual=[], indice_actual=0):
    if len(solucion_actual) == capacidad:
        suma_actual = sum(pokemon.loc[p]['capture_rate_normalizada'] for p in solucion_actual)
        if abs(suma_actual - suma_objetivo) < 1e-6:
            return [solucion_actual]
        return []

    if indice_actual >= len(pokemon):
        return []

    soluciones = []

    solucion_con_pokemon_actual = solucion_actual + [indice_actual]
    soluciones.extend(buscar_soluciones(pokemon, capacidad, suma_objetivo, solucion_con_pokemon_actual, indice_actual + 1))

    soluciones.extend(buscar_soluciones(pokemon, capacidad, suma_objetivo, solucion_actual, indice_actual + 1))

    return soluciones

capacidad_mochila = 6
suma_objetivo = 10
solucion, valor_total, facilidad_total = mochila(df_pokemon_filt, capacidad_mochila, suma_objetivo)

print("Solución:")
for p in solucion:
    print(df_pokemon_filt.loc[p]['name'])
print("base_total:", valor_total)

KeyboardInterrupt:

In [37]:
# Asegúrate de que el índice de df_pokemon_filt esté restablecido
df_pokemon_filt = df_pokemon_filt.reset_index(drop=True)

# Asegúrate de que el índice de df_pokemon_filt esté restablecido
df_pokemon_filt = df_pokemon_filt.reset_index(drop=True)

# Agrega una columna con valores aleatorios al DataFrame
df_pokemon_filt['random'] = np.random.rand(len(df_pokemon_filt))

# Ordena el DataFrame por capture_rate_normalizada y luego por el valor aleatorio
df_pokemon_filt = df_pokemon_filt.sort_values(['capture_rate_normalizada', 'random'], ascending=[True, True])
# Imprime solo las primeras 5 filas del DataFrame
df_pokemon_filt.head()


def buscar_soluciones(pokemon, capacidad, suma_objetivo, memo={}, solucion_actual=[], indice_actual=0, suma_actual=0):
    if len(solucion_actual) == capacidad:
        if abs(suma_actual - suma_objetivo) < 1e-6:
            return [solucion_actual]
        return []

    if indice_actual >= len(pokemon):
        return []

    if (indice_actual, suma_actual) in memo:
        return memo[(indice_actual, suma_actual)]

    soluciones = []

    solucion_con_pokemon_actual = solucion_actual + [indice_actual]
    suma_actual_con_pokemon_actual = suma_actual + pokemon.loc[indice_actual]['capture_rate_normalizada']
    soluciones.extend(buscar_soluciones(pokemon, capacidad, suma_objetivo, memo, solucion_con_pokemon_actual, indice_actual + 1, suma_actual_con_pokemon_actual))

    soluciones.extend(buscar_soluciones(pokemon, capacidad, suma_objetivo, memo, solucion_actual, indice_actual + 1, suma_actual))

    memo[(indice_actual, suma_actual)] = soluciones
    return soluciones

capacidad_mochila = 6
suma_objetivo = 10
solucion, valor_total, facilidad_total = mochila(df_pokemon_filt, capacidad_mochila, suma_objetivo)

print("Solución:")
for p in solucion:
    print(df_pokemon_filt.loc[p]['name'])
print("base_total:", valor_total)
print("facilidad_total:", facilidad_total)

Solución:
Genesect
Darkrai
Meloetta
Zapdos
Zygarde
Spinda
base_total: 3448
facilidad_total: 10.0